/* Reset and base styles  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

::before,
::after {
	box-sizing: inherit;
}

/* Links */

a,
a:link,
a:visited,
a:hover {
	color: inherit;
	font: inherit;
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg,
picture {
	max-width: 100%;
	height: auto;
}

svg * {
	transition-property: fill, stroke;
}

address {
	font-style: normal;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

/* Form */

input,
textarea,
button,
select {
	color: inherit;
	font: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button {
	display: inline-block;
	background: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

textarea,
input[type='file'] {
	max-width: 100%;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* Disable animation */

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}
