.loginPage {
	display: flex;
	gap: 24px;
	min-height: 692px;
}

.wrapperLogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	width: 556px;
	padding: 60px;
	background-color: white;
	border-radius: 12px;
}

.loginVariants {
	display: flex;
	flex-direction: column;
	gap: 24px;
	text-align: center;
}

.external {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.externalBtn {
	display: flex;
	gap: 12px;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.wrapperBtn {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.registerLink {
	color: $color-pressed;
}
