@use '@/shared/styles' as *;

.card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 324px;
	padding: 20px;
	background-color: $color-white;
	border-radius: 12px;

	.preview {
		position: relative;
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.avatar {
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
	}

	.user {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.userName {
		font-weight: 600;
		font-size: $font-size-h3;
		font-family: $font-username;
		line-height: $line-height-h3;
	}

	.userInfo {
		font-size: $font-size-caption;
		line-height: $line-height-caption;
	}

	.likeButton {
		position: absolute;
		top: 0;
		right: 0;
	}

	.description {
		margin-bottom: 4px;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.section {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		.title {
			font-weight: 500;
			font-size: $font-size-h4;
			line-height: $line-height-h4;
		}
	}
}
