.stepCounter {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.title {
	font-size: $font-size-h2;
	font-family: $font-title;
}

.steps {
	display: flex;
	gap: 16px;
}

.step {
	display: block;
	width: 60px;
	height: 4px;
	background-color: $color-disabled;
	border-radius: 8px;

	&_active {
		background-color: $color-accent;
	}
}
